.menuList {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.menu {
    display: flex;
}
.menuLink {
    font-size: 20px;
    font-family: "ヒラギノ角ゴシック ProN", "游ゴシック Medium", Arial;    
    display: block;
    color: black;
    text-align: center;
}
nav {
    width: 100%;
    height: 50px;
    background-color: rgb(141, 143, 141);
}