.menuList {
    list-style: none;
}
.menu {
    display: flex;
}
.menuLink {
    font-size: 15px;
    font-family: "ヒラギノ角ゴシック ProN", "游ゴシック Medium", Arial;
    display: block;
    color: black;
    margin-right: 40px;
    text-align: center;
}
nav {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(141, 143, 141);
}