body {
    background-color: rgb(201, 201, 201);
}

.profileContainer {
    background-color: aliceblue;
    border-style: dashed;
    border-color: gray;
    width: 100%;
    height: 1000px;
}
.textContainer {
    position: relative;
    margin-left: 10px;
}
.profText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.profImg {
    object-fit: cover;
    position: relative;
    border-radius: 5%;
    margin-left: 10px;
    margin-top: 10px;
    height: 200px;
}
