body {
    background-color: yellowgreen;
}
nav {
    width: 100%;
    height: 70px;
    padding-top: 5px;
    background-color: rgb(131, 177, 131);
}
.menuList {
    list-style: none;
}
.menu {
    display: flex;
}
.menuLink {
    font-size: 20px;
    display: block;
    margin-right: 40px;
}